<div class="container justify-content-center  align-items-center
">
  <div class="row">
  <div class="span12">
    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <div id="legend">
          <legend class="">Login</legend>
        </div>
        <div class="control-group">
          <!-- Username -->
          <label class="control-label"  for="username">Username</label>
          <div class="controls">
            <input type="email"  formControlName="email" class="input-xlarge">
          </div>
        </div>
        <div class="control-group" style="margin-top: 20px">
          <!-- Password-->
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input type="password" formControlName="password" class="input-xlarge">
          </div>
        </div>
        <div class="control-group" style="margin-top: 20px">
          <!-- Button -->
          <div class="controls">
            <button type="submit" class="btn btn-success">Login</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div style="margin-top: 30px">
  <a class="btn btn-alert" routerLink = "register" >Register</a>
</div>
</div>
